body {
    background: -webkit-linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
                -webkit-linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}
div#main {
    background: whitesmoke;
    padding: 15px 0 10px 0;
}
.connect {
    vertical-align: -8px;
}
.title .name {
    text-transform: uppercase;
    font-weight: bold;
}
.strength {
}
.score {
    font-size: 96px;
    font-weight: bold;
}
.maximum {
    font-size: 96px;
    font-weight: bold;
    color: #ddd;
}
.description {
    font-family: 'Rock Salt', cursive;
    font-size: 32px;
    color: #ddd;
    line-height: 1.5em;
}
.description .mine {
    text-transform: capitalize;
    font-weight: bold;
    color: black;
}
.num {
    font-weight: bold;
}
.denom {
    color: #aaa;
}
.genetics {
    color: #aaa;
    font-size: 10px;
    padding-bottom: 16px;
}
